<h2 class="title">{{game.court.name}}</h2>

<table class="table is-bordered is-narrow">
  <thead>
  <tr class="has-text-white">
    <th></th>
    <th *ngFor="let player of game.players">{{player.name}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hole of game.court.holes; let index = index">
    <th><span class="hole-number">{{index}}.</span> <span class="hole-name">{{hole | holeName}}</span></th>
    <td *ngFor="let player of game.players">{{player.points[index]}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>Celkem</th>
    <th *ngFor="let player of game.players">{{player.points | sum}}</th>
  </tr>
  </tfoot>
</table>
